{% extends 'djangopypi/base.html' %}

{% block title %}{{ package.name }}{% endblock %}
{% block extra_head %}
<link rel="meta" title="DOAP" type="application/rdf+xml" href="{% url djangopypi-package-doap package=package.name %}">
{% endblock %}

{% block content %}
<h1>The {{ package.name }} package</h1>
<div class="well">
  {% if not package.latest %}
  <div>No releases yet!</div>
  {% endif %}
  {% if package.latest %}
  {% with package.latest as release %}
  {% load safemarkup %}
  {{ release.description|saferst }}
  {% if release.distributions.count %}
</div>

<h2>Releases</h2>
<table class="table table-striped">
  <thead>
    <th>Created</th>
    <th>Uploader</th>
    <th>Python version</th>
    <th>Type</th>
    <th>Download</th>
  </thead>
  {% for dist in release.distributions.all %}
  <tr>
    <td>{{ dist.created }}</td>
    <td>{{ dist.uploader }}</td>
    <td>{{ dist.pyversion }}</td>
    <td>{{ dist.filetype }}</td>
    <td>
      <a class="btn btn-inverse" href="{{ dist.get_absolute_url }}">Download ({{ dist.content.size|filesizeformat }})</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endwith %}
{% endif %}
{% endblock %}
